.KeyKB {
    flex-shrink: 0;
}

.KeyKB .cap {
    --key-face-bg: var(--color-bg-2);
    --key-side-bg: var(--color-bg-0-5);
    padding: 0;
    border-radius: .25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow-wrap: break-word;
    background-color: var(--key-side-bg);
    outline: 2px solid transparent;
    cursor: pointer;
}

.KeyKB .cap.lalt {
    outline-color: var(--color-lalt);
}
.KeyKB .cap.ralt {
    outline-color: var(--color-ralt);
}
.KeyKB .cap.lshift {
    outline-color: var(--color-lshift);
}
.KeyKB .cap.rshift {
    outline-color: var(--color-rshift);
}
.KeyKB .cap.lctrl {
    outline-color: var(--color-lctrl);
}
.KeyKB .cap.rctrl {
    outline-color: var(--color-rctrl);
}

.KeyKB .cap.hover {
    --key-face-bg: var(--color-bg-2);
}

.KeyKB .cap.highlighted {
    --key-face-bg: var(--color-text);
    --key-side-bg: color-mix(in srgb, var(--key-face-bg) 75%, #000);
    color: var(--color-bg);
}

.KeyKB .cap.lalt.highlighted {
    --key-face-bg: var(--color-lalt);
}
.KeyKB .cap.ralt.highlighted {
    --key-face-bg: var(--color-ralt);
}
.KeyKB .cap.lshift.highlighted {
    --key-face-bg: var(--color-lshift);
}
.KeyKB .cap.rshift.highlighted {
    --key-face-bg: var(--color-rshift);
}
.KeyKB .cap.lctrl.highlighted {
    --key-face-bg: var(--color-lctrl);
}
.KeyKB .cap.rctrl.highlighted {
    --key-face-bg: var(--color-rctrl);
}

.KeyKB .key-face {
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    padding: .25rem .25rem .5rem;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: var(--key-face-bg);
    pointer-events: none;
}

.KeyKB .key-side {
    flex: 0 0 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
    pointer-events: none;
}

.KeyKB .key-label {
    width: 100%;
    height: 1rem;
    padding: 0 .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0 0 .25rem .25rem;
    font-size: .75rem;
    line-height: 1;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

.KeyKB .cap svg.lalt {
    color: var(--color-lalt);
}

.KeyKB .cap svg.ralt {
    color: var(--color-ralt);
}

.KeyKB .cap svg.lshift {
    color: var(--color-lshift);
}

.KeyKB .cap svg.rshift {
    color: var(--color-rshift);
}

.KeyKB .cap svg.lctrl {
    color: var(--color-lctrl);
}

.KeyKB .cap svg.rctrl {
    color: var(--color-rctrl);
}

.KeyKB .action-label {
    font-size: .65rem;
    border: 1px solid var(--color-text-2);
    max-width: 100%;
}

.KeyKB .action-label.lalt {
    color: var(--color-lalt);
    border-color: var(--color-lalt);
}

.KeyKB .action-label.ralt {
    color: var(--color-ralt);
    border-color: var(--color-ralt);
}

.KeyKB .action-label.lshift {
    color: var(--color-lshift);
    border-color: var(--color-lshift);
}

.KeyKB .action-label.rshift {
    color: var(--color-rshift);
    border-color: var(--color-rshift);
}

.KeyKB .action-label.lctrl {
    color: var(--color-lctrl);
    border-color: var(--color-lctrl);
}

.KeyKB .action-label.rctrl {
    color: var(--color-rctrl);
    border-color: var(--color-rctrl);
}
